body {
    background-color: #f1eeee;
    min-height: 100vh;
}

.homepage-main {
    z-index: -1;
}

.main-container-homepage {
    position: relative;
    margin-top: 30vh;
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.card-features {
    transform: rotate(-1deg);
    position: relative;
    float: left;
    margin: 20px 0 40px 20px;
}

.card-add-info {
    transform: rotate(1deg);
    display: flex;
    justify-content: flex-end;
    position: relative;
    float: right;
    margin: 30px 20px 50px;
}

.footer-homepage {
    margin-top: 35vh;
    position: absolute;
    transform: translateY(20px) scaleX(1.1);
    width: 100%;
    z-index: -2;
}

.footer-image {
    width: 100%;
}

@media screen and (max-width: 720px) {

    .card-features {
        transform: rotate(0);
    }

    .card-add-info {
        transform: rotate(0);
    }
}