body {
    background-color: #f1eeee;
    min-height: 100vh;
}

.homepage-main {
    z-index: -1;
}

.main-container-homepage {
    position: relative;
    margin-top: 30vh;
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-features {
    transform: rotate(-1deg);
    position: relative;
    float: left;
    margin: 20px 0 40px 20px;
}

.card-add-info {
    transform: rotate(1deg);
    display: flex;
    justify-content: flex-end;
    position: relative;
    float: right;
    margin: 30px 20px 50px;
}

.card-info-content {
    padding: 10vh;
    margin-right: 5rem;
}

.text-main-2 {
    color: #f1eeee;
    font-size: 1.3rem;
    padding: 0 20px 0 20px;
    width: 60%;
    transform: translate(40%, 10%);
    text-align: justify;
}

.text-decor {
    position: absolute;
    color: #f1eeee;
    font-size: 1.3rem;
    padding: 0 20px 0 20px;
    width: 60%;
    transform: translateY(10%);
    text-align: justify;
}

.feature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feature-content {
    margin-left: 2rem;
}

.feature-text {
    text-align: justify;
}

.footer-homepage {
    margin-top: 35vh;
    position: absolute;
    transform: translateY(20px) scaleX(1.1);
    width: 100%;
    z-index: -2;
}

.footer-image {
    width: 100%;
}

@media screen and (max-width: 1200px) {

    .feature-text {
        font-size: 1rem;
    }
}


@media screen and (max-width: 1024px) {
    .feature-container {
        height: 200px;
    }

    .text-main-2 {
        font-size: 1rem;
        padding: 0;
    }
    .main-content {
        min-height: 200vh;
    }

    .card-add-info, .card-features {
        display: block;
        width: 100%;
        flex: 1;
    }
}

@media screen and (max-width: 720px) {

    .card-features {
        transform: rotate(0);
    }

    .card-add-info {
        transform: rotate(0);
    }

    .text-main-2 {
        font-size: .8rem;
    }
}