@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.nav-list
{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}