li.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: all 0.5s;
}

li.nav-item:hover {
    background-color: #f1eeee;
    color: #000000;
    border-radius: 15px;
}

a.link-navigation {
    color: #f1eeee;
    text-decoration: none;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}


li.nav-item:hover a {
    color: #000000;
}


@media screen and (max-width: 720px) {
    li.nav-item {
        display: none;
    }
}