@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box !important;
}

.login-container, .signup-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.signup-container {
  margin-bottom: 20px;
}

.make-div-app {
  position: absolute;
  top: 0;
  background-image: url('../../assets/images/defaultBackground.svg');
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  min-height: 120%;
  z-index: -2;
}


.Apps {
  display: flex;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.App__Aside {
  width: 35%;
  background-color: #ec4c4c;
  box-shadow: 10px 10px 5px rgba(46, 65, 88, 0.83);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.App__Aside_Small {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
  width: 90%;
}

.App__Form {
  width: 50%;
  box-sizing: border-box;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
  box-shadow: 10px 10px 5px rgba(62, 112, 235, 0.83);
  border-radius: 10%;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #ec4c4c;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

  .FormTitle__Link:first-child {
    margin-left: 0;
  }

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormTitle__Link:hover, a:focus, a:hover {
  color: #f1eeee;
  text-decoration: none;
}

.FormTitle__Link:active, .FormTitle__Link:focus {
  color: #57C6DE;
  text-decoration: none;
}

.FormField {
  margin-bottom: 20px;
}

.Field_first_last_name {
  display: flex;
  width: 93%;
}

.Form_Name {
  flex: auto;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}


.FormField__Button {
  background-color: #ec4c4c;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 50px;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  transition: ease-in-out .3s;
  cursor: pointer;
}

  .FormField__Button:hover {
    background: #f1eeee;
    color: #000000;
  }

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
  display: flex;
  align-items: center;
}

.confirm-checkbox {
  flex: 1;
}

.FormField__Checkbox {
  position: relative;
  flex: .1;
  margin: 0 !important;
  width: 100%;
  cursor: pointer;
}

.FormField__Input:focus {
  background-color: #4a617d;
}
​

a .FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #ec4c4c;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.styleModal {
  position: fixed;
  top: 20%;
  right: 50%;
  transform: translate(50%, 10px);
  background-color: white;
  width: 500px;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
}

  .styleModal .close {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 2.4rem;
    cursor: pointer;
  }

@media screen and (max-width: 1280px) {
  .login-container, .signup-container {
    width: 90%;
    margin: auto;
  }

  .Apps {
    margin: 10vh 0 0 0;
  }

  .App__Aside, .App__Form {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .login-container, .signup-container {
    flex-direction: column;
  }

  .signup-container {
    margin-bottom: 10px;
  }

  .App__Aside {
    height: 300px;
    margin-bottom: 20px;
  }

  .App__Aside, .App__Form {
    width: 100%;
    border-radius: 0;
  }

  .styleModal {
    width: 90%;
  }
}

.FormField__Input:focus::-webkit-input-placeholder {
  color: #ccc;
}

.FormField__Input:focus:-moz-placeholder {
  color: #ccc;
}
