.footer-main {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.footer-content {
    text-align: center;
    color: #F1EEEE;
}

.footer-image {
    position: absolute;
    bottom: 0;
    width: 100%;
}