.circle-main {
    position: absolute;
    background-color: #57C6DE;
    float: left;
    opacity: 0.7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    animation: circleMovement 20s infinite;
}


/* Animacije */
@keyframes circleMovement {
    0% {
        -webkit-transform: translate(0, 0);
    }

    25% {
        -webkit-transform: translate(20px, -20px)
    }

    50% {
        -webkit-transform: translate(0, 0);
    }

    75% {
        -webkit-transform: translate(20px, 20px)
    }

    100% {
        -webkit-transform: translate(0, 0);
    }
}