body {
    overflow-x: hidden;
    min-height: 100vh;
}

.background-image {
    position: absolute;
    top: -10px;
    background-image: url("../../assets/images/header-main-background.svg");
    background-position: calc(50% - 50px);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    width: 110%;
    height: 110%;
    z-index: -2;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.images-page-header {
    flex: 1;
}

.phone-image {
    position: absolute;
    top: 20%;
    right: 18%;
    z-index: 2;
    height: 60vh;
}

.map-pin-image {
    position: absolute;
    top: 55%;
    right: 22%;
    z-index: 3;
    height: 30vh; 
    transform: rotate(25deg);
}

.header-main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.noMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.main-header-buttons {
    position: relative;
    margin-top: 5%;
    text-align: center;
    z-index: 2;
}
/*
.header-main:after {
    content: '';
    height: 60rem;
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;
}
*/
.main-header-text {
    position: relative;
    margin-top: 30%;
    margin-left: 10%;
    color: #f1eeee;
    font-size: 1.5vw;
    width: 30em;
    text-align: center;
    z-index: 2;
}

.circles {
    position: relative;
}


@media screen and (max-width: 1024px) {
    .background-image {
        top: -70px;
    }
}

@media screen and (max-width: 800px) {
  .background-image {
    top: -250px;
  }
}
