body {
    overflow: hidden;
}
.header-main {
    position: relative;
    height: 25rem;
    background-color: #61c6c6;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.noMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.circles {
    z-index: 1;
}

.main-header-signUp {
    position: relative;
    margin-top: 20em;
    text-align: center;
    z-index: 2;
}

.header-main:after {
    content: '';
    height: 60rem;
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;
}

.main-header-text {
    position: relative;
    margin: 2em auto 0 auto;
    color: #f1eeee;
    font-size: 1.5vw;
    width: 30em;
    text-align: center;
    z-index: 2;
}
