﻿body {
    overflow: hidden;
    min-height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    background-image: url("../../assets/images/header-main-background.svg");
    background-position: calc(50% - 50px) 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 100%;
}

.phone-image {
    position: absolute;
    top: 20%;
    right: 18%;
    z-index: 2;
    height: 70%;
}

.map-pin-image {
    position: absolute;
    top: 38%;
    right: 22%;
    z-index: 3;
    height: 35%;
}

.header-main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.noMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.circles {
    z-index: 1;
}

.main-header-buttons {
    position: relative;
    margin-top: 5%;
    text-align: center;
    z-index: 2;
}
/*
.header-main:after {
    content: '';
    height: 60rem;
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    z-index: -1;
}
*/
.main-header-text {
    position: relative;
    margin-top:30%;
    margin-left: 10%;
    color: #f1eeee;
    font-size: 1.5vw;
    width: 30em;
    text-align: center;
    z-index: 2;
}



.circle {
    position: absolute;
    float: left;
    top: 10%;
    left: 1%;
    width: 11%;
    height: 40%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 3s infinite;
}
.circle2 {
    position: absolute;
    float: left;
    top: 8%;
    left: 6%;
    width: 8%;
    height: 30%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 4s infinite;
}
.circle4 {
    position: absolute;
    float: left;
    top: 18%;
    left: 47%;
    width: 8%;
    height: 30%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 3s infinite;
}

.circle3 {
    position: absolute;
    float: left;
    top: 10%;
    left: 40%;
    width: 11%;
    height: 40%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 4s infinite;
}


.circle-mob {
    position: absolute;
    float: left;
    top: 80%;
    left: 80%;
    width: 11%;
    height: 40%;
    border-radius: 50%;
    background-color: #3860ED;
    opacity: 0.4;
    z-index: 1;
    animation: example 3s infinite;
}

.circle-mob2 {
    position: absolute;
    float: left;
    top: 90%;
    left: 88%;
    width: 15%;
    height: 55%;
    border-radius: 50%;
    background-color: #3860ED;
    opacity: 0.4;
    z-index: 1;
    animation: example 4s infinite;
}

.circle-text {
    position: absolute;
    float: left;
    top: 90%;
    left: 1%;
    width: 8%;
    height: 30%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 3s infinite;
}

.circle-text2 {
    position: absolute;
    float: left;
    top: 90%;
    left: 6%;
    width: 5%;
    height: 20%;
    border-radius: 50%;
    background-color: #57C6DE;
    opacity: 0.7;
    z-index: 1;
    animation: example 4s infinite;
}

/*Animatio*/
@keyframes example {
    0% {
        -webkit-transform: translateX(0px);
    }

    25% {
        -webkit-transform: translateX(7px)
    }

    50% {
        -webkit-transform: translateX(0px);
    }

    75% {
        -webkit-transform: translateX(7px)
    }

    100% {
        -webkit-transform: translateX(0px);
    }
}