.card-primary-design {
    position: absolute;
    display: inline-block;
    z-index: 3;

    /*-
        webkit-box-shadow: 7px 20px 36px 1px rgba(87,198,222, 0.75);
        -moz-box-shadow: 7px 20px 36px 1px rgba(87,198,222, 0.75);
        box-shadow: 7px 20px 36px 1px rgba(87,198,222, 0.75);
        */
}

.card-primary-text {
    position: absolute;
    top: 10vh;
    right: 5vw;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 720px) {
}
