.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EA4B4F;
    overflow: hidden;
    height: 100px;
}

.footer-content {
    text-align: center;
    color: #F1EEEE;
}